{% if page.categories %}
  {% capture categories %}
    {% for category in page.categories %}
      <a class="label  label--category" href="{{ site.baseurl }}/categories/#{{ category | downcase | slugify }}">{{ category }}</a>
    {% endfor %}
  {% endcapture %}
{% elsif page.category %}
  {% capture categories %}
    <a class="label  label--category" href="{{ site.baseurl }}/categories/#{{ page.category | downcase | slugify }}">{{ page.category }}</a>
  {% endcapture %}
{% endif %}

<small class="small  post-meta">
  {{ categories | append: "&nbsp;&middot;&nbsp;" }}
</small>
