// Background colours
$backgroundColour: #dbe7de !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #59C4BE !default;

// Text colours
$headingColour: #242e2b !default;
$bodyColour: #384743 !default;
$linkColour: #59C4BE !default;
$hoverColour: #59C4BE!default;
$focusColour: #5340fa !default;
$borderColour: #a8adac !default;
$captionColour: #a8adac !default;
$white: #FAF9F6 !default;

// Typography
$bodytype: (
  font-family: 'Noto Sans Display, sans-serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: 'Noto Sans Display, sans-serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68
) !default;

// TIP: Load custom fonts in _config.yaml
